.heading {
    text-transform: capitalize;
    display: initial;
    font-family: var(--ff-one);
    font-size: 42px;
    font-weight: 900;
    line-height: 47px;
    margin: -12px 0px 16px;
}

.top {
    margin-left: 10px;
    margin-bottom: 30px;

}

.top>p {
    color: #245e8a;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.7px;
    text-transform: none;
    margin-top: 15px;
    margin-bottom: 30px;

}




.top>p+h2 {
    font-family: var(--ff-one);
    font-size: 42px;
    font-weight: 900;
    line-height: 47px;
    margin: -12px 0px 16px;
}

.symbol {

    color: #2E2E2E;
}

.top>p>span {
    text-transform: capitalize;
    margin-left: 10px;
}


/* FILTER STYLE */
#filter {
    display: flex;
    justify-content: space-between;
    margin: 20px 52px 20px 0px;
}

#filter>button {
    border-radius: 4px;
    height: 35px;
    font-size: 14px;
    outline: none;
    position: relative;
    top: 0;
    right: 0;
    background-color: white;
    appearance: none;
    border: 1px solid #e1e1e1;
    color: #323232;
    padding: 10px;
    box-sizing: border-box;
}

#filter>button:hover {
    background-color: #F5F5F5;
    color: #8D8D8D;
    cursor: pointer;
}

#filter>select {
    text-transform: capitalize;
    cursor: pointer;
    height: 35px;
    font-size: 14px;
    outline: none;
    position: relative;
    top: 0;
    right: 0;
    background-color: white;
    appearance: none;
    border: 1px solid #e1e1e1;
    color: #323232;
    padding: 6px 70px 6px 10px;
    box-sizing: border-box;
    appearance: none;
    border-radius: 4px;
}

#container {
    display: flex;
}

#container>:nth-child(1) {
    height: auto;
    width: 15%;
    margin-right: 90px;
}

#container>:nth-child(2) {
    width: 50%;

}

#container>:nth-child(3) {
    width: 20%;
    margin-left: 50px;
    margin-right: 50px;
}

#midNews {
    width: 100%;
}

#midNews>div {
    display: flex;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height: auto;
    overflow: hidden;
}

#midNews>div:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.image {
    padding: 20px;
}

.image>img {
    border-radius: 8px;
    width: 150px;
    cursor: pointer;
}

.innertext {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    height: 100%;
    overflow: hidden;
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Flex', sans-serif;

}

#selector {
    margin: 0px 0px 25px 465px;
    padding: 15px 20px;
    font-size: 15px;
    appearance: none;
    border-radius: 4px;
}

.innertext>h2 {
    margin-bottom: 10px;
    cursor: pointer;
}

.innertext>h2+p {
    margin-bottom: 10px;
    color: #575757;
}

p+p {
    margin-bottom: 15px;
    color: #949494;
}

#treadingNews>div {
    height: 130px;
    margin-bottom: 10px;
    border-bottom: 1px solid #EDEDED;
    overflow: hidden;
}

#treadingNews>p {
    text-transform: uppercase;
    letter-spacing: 1.0px;
    padding: 6px 0px;
    text-align: center;
    padding: 10px auto;
    font-size: 14px;
    margin-top: 5px;
    margin-right: -45px;
    background-color: rgb(245, 245, 245);
    border-radius: 3px;
    color: #2E2E2E;
    font-family: system-ui;
    font-weight: bolder;
}

.inner {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: -40px;
}

.inner>img {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.inner>img+p {
    margin-top: 10px;
    color: #585858;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
}

.inner>img+p:hover {
    color: rgb(69, 118, 155)
}

.innerBox {
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.innerBox:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.innerBox>img {
    width: 100%;
    height: 200px;
}

.innerBox>img+h4 {
    padding: 5px;
}

.innerBox>img+h4:hover {
    color: rgb(69, 118, 155);

}

/* READ BUTTON */
#readButton {
    padding: 8px 15px;
    border: none;
    border-radius: 0px;
    border: 1px solid black;
    color: black;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 50px;
}

#readButton:hover {
    background-color: black;
    color: white;
}