#title,
#des {

  margin-top: 10px;
  width: 55%;
  margin-left: 20%;

}
#title > h1 {
  font-size: 40px;
  font-style: italic;
}
#title > p {
  margin-top: 15px;
  font-size: 25px;
}
#image {
  width: 850px;
  margin-top: 50px;
  margin-left: 20%;

}
#image > img {
  width: 850px;
  height: 500px;
}
#details {
  width: 54.5%;
  text-align: justify;
  margin-top: 30px;
  
  margin-left: 20%;
}
#details > p {
  font-size: 20px;
  padding: 10px;
  margin-left: 20%;
}
#sideImage > img {
  width: 300px;
}
#extremeRight{


}
#extremeRight > div > p {
  margin-top: 0px;
}
#extremeRight > div {
  margin-bottom: 20px;
}
#main {
  display: flex;

}

#cont {
  display: flex;
  width: 60%;
}
