#left {
    margin-left: 300px;
  }
  #navigator,
  #functionalities,
  #categories {
    display: flex;
  }
  #navigator > h3,
  #functionalities > h3 {
    color: #676767;
    padding-left: 16px;
  }
  #functionalities > h3:hover {
    color: #4b7a9f;
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
  }
  #trending {
    font-size: 45px;
    padding-left: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  #navigator > h3 {
    color: #6890ae;
    font-size: 16px;
  }

  #categories > h3 {
    color: #676767;
    padding-left: 20px;
  }
  #categories {
    width: 1100px;

    background-color: #f7f9fb;
  }
  /* #body{
    border: 1px solid green;
  } */
  #card {
    width: 58.2%;
    margin-left: 300px;
    display: flex;
    margin-top: 20px;
    /* border: 1px solid red; */
  }
  #image > img {
    width: 150px;
    height: 100px;
    /* border: 5px solid blue; */
  }

  #head > h3 {
    margin-top: 0px;
    /* border: 2px solid maroon; */
  }
  #head > p {
    margin-top: -15px;
    /* border: 2px solid maroon; */
  }
  #head > hr {
    margin-top: -8px;
  
  }
  #fb {
    margin-bottom: -4px;
    width: 20px;
  }
  #head {
    margin-left: 10px;
  }
  #social > p {
    display: inline-block;
  }
  #social > a > img:nth-child(2),   #social > a > img:last-child {
    padding-left: 10px;
  }

  #eye {
    margin-left: 30px;

    margin-bottom: -4px;
    width: 20px;
  }
  #line2 {
    display: inline-block;
    margin-left: 30px;
  }
  #count{
    display: inline;
    margin-left: 10px;
    color:#78bee8;
    font-weight: bold;
  }